@model QuizeManagement.Models.DbContext.User_Table

<form method="post">

    <div class="form-horizontal">

        <h3 class="text-center p-3">Update Profile</h3>

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.User_id)

    <div class="container">

        <div class="form-group">

            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 mt-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="form-group" style="display:none">

            @Html.LabelFor(model => model.Password_hash, htmlAttributes: new { @class = "control-label col-md-2 mt-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Password_hash, new { htmlAttributes = new { @class = "form-control " ,type="password" } })

                @Html.ValidationMessageFor(model => model.Password_hash, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="form-group" style="display:none">

            @Html.LabelFor(model => model.Created_at, htmlAttributes: new { @class = "control-label col-md-2 mt-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => model.Created_at, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Created_at, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group d-flex justify-content-center">

            <div class="col-3">

                <input type="submit" value="Update" class="btn btn-lg btn-primary mt-3 " />

            </div>

        </div>

    </div>

    </div>

</form>


                <div>

                    @Html.ActionLink("Back to Profile", "Profile", "User", htmlAttributes: new { @class = "btn btn-primary" })

                </div>