@model List<QuizeManagement.Models.ViewModel.QuizzesModel>


@{ ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

<div class="container mt-5">

    <table class="table table-striped table-bordered table-hover mt-5 ">

        <thead>

            <tr>

                <th>Title</th>

                <th>Description</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>


            @if (Model != null)

            {

                foreach (var item in Model)

                {

                    <tr>


                        <td>@item.Title</td>

                        <td>@item.Description</td>

                        <td>

                            @if (@ViewBag.UserAttemptOrNot == 0)
                            {
                                @Html.ActionLink("Start Quiz", "StartQuiz", "User", new { id = item.Quiz_id }, htmlAttributes: new { @class = "btn btn-primary startQuiz" })
                            }

                            @*<button class="btn btn-primary startQuiz" value="@item.Quiz_id">Start Quiz</button>*@
                        </td>

                    </tr>
                }
            }
        </tbody>

    </table>

</div>